.main{
    width: 100%;
    height: 7%;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding-left: 1.4em;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3px 0;
}

.main a{
    color: white;
    width: 90%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
    transition: all .3s linear;
    /* border: 1px solid rgb(77, 255, 0); */
    display: flex;
    align-items: flex-end;
}

.main .icon{
    font-size: 1.6em;
    color: white;
    margin-right: 1em;
    transition: all .3s linear;
}

.main a:hover{
    color: rgb(82, 92, 130);;
}

.main a:hover .icon{
    color: rgb(82, 92, 130);
}
