
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.main{
    display: flex;
}

.home_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 .1em;
    margin: 0;
    background-color: var(--main-color);
}


.home_container > div{
    /* margin: 15px 0; */
    /* border: 1px solid yellow; */
}

.home_container .header{
    width: 100%;
    height: 20%;
    margin: 0;
    margin-top: 5px;
    display: flex;
    /* border: 1px solid rgb(255, 255, 255); */
}
.home_container .header div{
    /* border: 1px solid rgb(255, 255, 255); */
}


.main .header .logo_box{
    /* border: 1px solid  red; */
    width: 26%;
    height: var(--logo-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .header .logo_box .button{
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}


.main .header .logo_box .menu_icon{
    color: white;
    font-size: 1.8em;
    width: 50%;
    cursor: pointer;
    transition: .2s;
}

.main .header .logo_box .menu_icon:hover{
    color: rgba(255, 255, 255, 0.623);
}

.main .header .logo_box a{
   /* text-decoration: none; */
   /* border: 1px solid white; */
   /* display: flex; */
   padding-top: 4%;
   height: 100%;
   width: 75%;
}

.main .header .logo_box a .logo_name_box{
    /* color: white; */
    width: 100%;
    height: 80%;
    font-size: 1.1em;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: 2em; */
}

.main .header .logo_box .logo_name_box .logo{
    color: rgb(23, 127, 224);
    font-size: 2em;
    margin-right: 7px;
}

.main .header .logo_box .logo_name_box .name{
    color: white;
    font-size: 1.5em;
}

.home_container .header div:nth-child(2){
    width: 45%;
    display: flex;
    justify-content: end;
    align-items:center;
}

.home_container .header div:nth-child(3){
    width: 17%;
    /* background-color: var(--lateral-color); */
    display: flex;
    justify-content: start;
    align-items: center;
}
.home_container .header div:nth-child(4){
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 1em; */
}

.home_container .header div:nth-child(4) div:first-child{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_container .header div:nth-child(4) div:last-child{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:  1px solid white;  */
}

.home_container .header .moon_icon{
    color: white;
    font-size: 1.2em;
    /* margin-left: 1em; */
}

.home_container .header .notification{
    /* border: 1px solid red; */
    margin-bottom: 5px;
    width: 28px;
    height: 30px;
    position: relative;
}

.home_container .header .notification_number{
    color: white;
    z-index: 1;
    font-size: 12px;
    background-color: red;

    border-radius: 45%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 17px;
    height: 15px;
    top: 0;
    right: 0;
}

.home_container .header .notification_icon{
    color: white;
    font-size: 1.6em;
    position: absolute;
    bottom: 0;
    /* margin-left: 1em; */
}

.home_container .main{
    width: 100%;
    height: 78%;
    /* border: 1px solid white; */
    display: flex;
    /* justify-content: space-between; */
    margin-top: 12px;
}

.home_container .main div{
    height: 100%;
    width: 100%;
    /* width: 68%;    - sem menu*/
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    padding:0;
    margin: 0;

    /* padding-left: 10px;  - sem menu*/
}

.home_container .footer{
    width: 81.3%;
    height: 14%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start;
    align-items: flex-start;
    /* padding-top: 1.5em */
}

.home_container .footer div{
    height: 100%;
    /* border: 1px solid white; */
    /* margin: 0 10em; */
}

.home_container .footer div:first-child{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* transform: translate(-5em, .4em); */
    /* border: 1px solid white; */
}

.home_container .footer div:first-child .button_card_position{
    color: white;
    margin: 0 10px;
    font-size: 1.6em;
}

.home_container .footer div:last-child{
    width: 66.1%;
    /* height: 40%; */
    /* margin-right: 2em; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
}



