:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --logo-height-b: 13%;
  --logo-height: 100%;
  overflow: hidden;

  --primary-color: rgb(13, 19, 27);
  --profile-info-color: rgb(21, 31, 44);
  --main-color: rgb(16, 23, 33);
  --lateral-color: rgb(16, 23, 33);
  /* --main-color: rgb(14, 13, 13);
  --lateral-color: rgb(14, 13, 13); */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* height: 100%; */
  padding: 0;
  background-color: #dcdcdc;
}

.hr{
  display: block;
  color: white; 
  margin:10px 0;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
